@model List<TravelWebSite.Models.Siniflar.Hakkimizda>


@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            @foreach (var item in Model)
            {
                <img src="~/images/@item.FotoUrl" alt="images" />
                <p>@item.Aciklama </p>
            }
        </div>
    </div>
</div>
